@import "https://fonts.googleapis.com/css?family=Baloo+Paaji";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tenada";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용) */
@media (max-width: 575px) {
  .photoHeader,
  .photoIcon span,
  .historyYear::before,
  .instaHeader .Pretend {
    font-size: 8px;
  }
  .skillName,
  .historyDetail {
    font-size: 10px;
  }
  .musicHeader span:nth-of-type(1),
  .musicBar,
  .musicVolume,
  .photoIcon i,
  .instaBody,
  .skillHeader,
  .skillTitle,
  .historyHeader,
  .historyYear {
    font-size: 12px;
  }
  .profileHeader i {
    font-size: 15px;
  }
  .headerText .headerTitle:nth-of-type(1),
  #currentDate {
    font-size: 17px;
  }
  .profileHeader span {
    font-size: 35px;
  }
  .titleSize {
    font-size: 45px;
  }
  .timeBoxNowTime {
    font-size: 65px;
  }
  /* header */
  .musicBtn button {
    width: 30px;
    font-size: 20px;
    margin: 0px 5px;
  }
  .musicImg {
    width: 100px !important;
    height: 100px !important;
  }
  /* main */
  .myPageApp {
    height: 40px;
    width: 40px;
    font-size: 25px;
  }
  .historyImg {
    height: 105px;
  }
  .profileTitle i {
    width: 25px;
    height: 25px;
  }
  /* footer */
  .footerImg {
    width: 150px;
    height: 150px;
  }
  .footerIconSet {
    gap: 25px !important;
  }
  .toggleBox {
    width: 200px;
    height: 50px;
  }
  .toggleSwitch {
    padding: 10px !important;
  }
  .toggleBtn {
    width: 30px;
    height: 30px;
  }
  #toggleText {
    padding-left: 35px;
  }
  /* move */
  footer input:checked + .toggleSwitch .toggleBtn {
    transform: translateX(150px);
  }
}

/* 가로모드 모바일 디바이스 (가로 해상도가 576px보다 크고 768px 보다 작은 화면에 적용)  */
@media (min-width: 576px) and (max-width: 767px) {
  .photoHeader,
  .profileHeader i,
  .photoFooter span,
  .skillName {
    font-size: 5px;
  }
  .photoFooter i {
    font-size: 7px;
  }
  .historyYear::before,
  .skillHeader,
  .skillTitle {
    font-size: 8px;
  }
  .musicHeader span:nth-of-type(1),
  .musicBar,
  .musicVolume,
  .instaBody,
  .appFooter,
  .historyHeader,
  .historyDetail,
  .profileSection .glowBox,
  .footerIconSet span,
  .footerProfile span {
    font-size: 10px;
  }
  .historyYear,
  #toggleText {
    font-size: 12px;
  }
  #currentDateMonth,
  .profileHeader span {
    font-size: 15px;
  }
  .musicHeader,
  .headerText .headerTitle:nth-of-type(1) {
    font-size: 20px;
  }
  #currentTime {
    font-size: 50px;
  }
  .titleSize {
    font-size: 65px;
  }
  /* header */
  .musicBtn button {
    width: 30px;
    font-size: 20px;
    margin: 0px 5px;
  }
  .musicImg {
    width: 80px !important;
    height: 80px !important;
  }
  /* main */
  header,
  main,
  footer,
  .mainBody,
  .glowBox,
  .borderBox {
    padding: 5px !important;
  }
  .mainBody {
    gap: 10px !important;
  }
  .borderBox,
  .notPaddingBox,
  .glowBox,
  .appBody,
  .historyMain {
    gap: 5px !important;
  }
  .profileSection .glowBox {
    gap: 3px !important;
  }
  .myPageApp {
    height: 35px;
    width: 35px;
    font-size: 20px;
  }
  .profileTitle i {
    width: 15px;
    height: 15px;
  }
  .instaHeader .Pretend,
  .histroyImg {
    display: none !important;
  }
  /* footer */
  .footerImg {
    width: 150px;
    height: 150px;
  }
  .footerIconSet {
    gap: 30px !important;
  }
  .toggleBox {
    width: 200px;
    height: 50px;
  }
  .toggleSwitch {
    padding: 10px !important;
  }
  .toggleBtn {
    width: 30px;
    height: 30px;
  }
  #toggleText {
    padding-left: 35px;
  }
  /* move */
  footer input:checked + .toggleSwitch .toggleBtn {
    transform: translateX(150px);
  }
}

/*태블릿 디바이스 (가로 해상도가 768px보다 크고 991px 보다 작은 화면에 적용)  */
@media (min-width: 768px) and (max-width: 991px) {
  .photoHeader,
  .photoFooter span,
  .historyYear::before {
    font-size: 10px;
  }
  .appFooter,
  .photoFooter i,
  .instaHeader .Pretend,
  .historyHeader,
  .skillName {
    font-size: 15px;
  }
  .skillTitle {
    font-size: 17px;
  }
  .musicHeader span:nth-of-type(1),
  .musicVolume,
  .instaBody,
  .historyDetail,
  .profileSection .borderBox,
  .skillHeader {
    font-size: 20px;
  }
  .historyYear,
  .footerProfile span {
    font-size: 25px;
  }
  .musicHeader,
  .headerText .headerTitle:nth-of-type(1) {
    font-size: 30px;
  }
  #currentDate,
  .profileHeader span {
    font-size: 45px;
  }
  .titleSize,
  .timeBoxNowTime {
    font-size: 75px;
  }
  /* header */
  .musicBar span {
    font-size: 18px;
  }
  .musicBtn button {
    width: 35px;
    font-size: 30px;
    margin: 0px 8px;
  }
  /* main */
  .mainPageToggle {
    width: 150px !important;
    height: 30px !important;
  }
  .pageBtn {
    width: 25px !important;
    height: 25px !important;
  }
  .pageBtn.movePage {
    transform: translateX(115px) !important;
  }
  .myPageApp {
    height: 50px;
    width: 50px;
    font-size: 35px;
  }
  .historyImg {
    height: 230px;
  }
  .profileTitle i {
    width: 35px;
    height: 35px;
  }
  /* footer */
  .footerImg {
    width: 200px;
    height: 200px;
  }
  .footerIconSet {
    gap: 50px !important;
  }
  .toggleBox {
    width: 250px;
    height: 50px;
  }
  .toggleSwitch {
    padding: 10px !important;
  }
  .toggleBtn {
    width: 30px;
    height: 30px;
  }
  #toggleText {
    padding-left: 35px;
  }
  /* move */
  footer input:checked + .toggleSwitch .toggleBtn {
    transform: translateX(200px);
  }
}

/* 데스크탑 (가로 해상도가 992px보다 크고 1199px 보다 작은 화면에 적용)  */
@media (min-width: 992px) and (max-width: 1199px) {
  .photoHeader,
  .photoFooter span,
  .historyHeader,
  .historyYear::before,
  .profileHeader i,
  .skillName {
    font-size: 8px;
  }
  .skillTitle {
    font-size: 10px;
  }
  .appFooter,
  .photoFooter i,
  .instaHeader .Pretend,
  .historyDetail,
  .skillHeader {
    font-size: 12px;
  }
  .profileSection .glowBox,
  .historyYear {
    font-size: 15px;
  }
  .musicBar span,
  .musicVolume,
  .instaBody,
  .profileHeader span {
    font-size: 20px;
  }
  .musicHeader span:nth-child(1),
  #currentDateMonth {
    font-size: 25px;
  }
  .musicHeader {
    font-size: 35px;
  }
  .headerText .headerTitle:nth-of-type(1) {
    font-size: 40px;
  }
  #currentTime {
    font-size: 75px;
  }
  .titleSize {
    font-size: 85px;
  }
  /* header */
  .musicBtn button {
    width: 40px;
    font-size: 35px;
    margin: 0px 9px;
  }
  /* main */
  .myPageApp {
    height: 45px;
    width: 45px;
    font-size: 30px;
  }
  .historyImg {
    height: 70px;
  }
  .profileSection .glowBox {
    padding: 10px !important;
  }
  .profileTitle i {
    width: 20px;
    height: 20px;
  }
  .profileSection .borderBox {
    gap: 5px !important;
  }
  /* footer */
  .footerImg {
    width: 200px;
    height: 200px;
  }
  .footerIconSet {
    gap: 50px !important;
  }
  .toggleBox {
    width: 250px;
    height: 50px;
  }
  .toggleSwitch {
    padding: 10px !important;
  }
  .toggleBtn {
    width: 30px;
    height: 30px;
  }
  #toggleText {
    padding-left: 35px;
  }
  /* move */
  footer input:checked + .toggleSwitch .toggleBtn {
    transform: translateX(200px);
  }
}

/* 큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용)  */
@media (min-width: 1200px) {
  .photoHeader,
  .photoFooter span,
  .historyHeader,
  .historyYear::before,
  .profileHeader i {
    font-size: 10px;
  }
  .appFooter,
  .photoFooter i,
  .instaHeader .Pretend,
  .historyDetail,
  .profileSection .borderBox,
  .skillName {
    font-size: 16px;
  }
  .historyYear,
  .skillHeader,
  .skillTitle {
    font-size: 20px;
  }
  .musicBar span,
  .musicVolume,
  .instaBody,
  .footerProfile span {
    font-size: 25px;
  }
  .musicHeader span:nth-child(1),
  #currentDateMonth,
  .profileHeader span {
    font-size: 30px;
  }
  .headerText .headerTitle:nth-of-type(1),
  .musicHeader {
    font-size: 45px;
  }
  .titleSize,
  #currentTime {
    font-size: 90px;
  }
  /* header */
  .musicBtn button {
    width: 45px;
    font-size: 40px;
    margin: 0px 9px;
  }
  .musicImg {
    width: 200px !important;
    height: 200px !important;
  }
  /* main */
  .myPageApp {
    height: 50px;
    width: 50px;
    font-size: 35px;
  }
  .historyImg {
    height: 150px;
  }
  .profileTitle i {
    width: 25px;
    height: 25px;
  }
  /* footer */
  .footerImg {
    width: 200px;
    height: 200px;
  }
  .footerIconSet {
    gap: 55px !important;
  }
  .toggleBox {
    width: 300px;
    height: 50px;
  }
  .toggleBtn {
    width: 30px;
    height: 30px;
  }
  #toggleText {
    padding-left: 40px;
  }
  /* move */
  footer input:checked + .toggleSwitch .toggleBtn {
    transform: translateX(240px);
  }
}

/* 스크롤바 안보이게 */
::-webkit-scrollbar {
  display: none;
}

* {
  /* 드래그나 더블클릭 시 텍스트 선택 x */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}
html {
  scroll-behavior: smooth;
}
/* 배경 이미지 고정 */
body {
  background: url("images/background2.jpg") no-repeat center/cover;
  background-attachment: fixed;
}
header,
main,
footer {
  width: 100vw;
  height: 100vh;
  padding: 1em 1em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 글꼴 */
.BalooPaaji {
  font-family: "Baloo Paaji";
}
.Pretend {
  font-family: "Pretendard-Regular";
}
.Tenada {
  font-family: "Tenada";
}
.Gow {
  font-family: "GowunBatang-Regular";
}
/* 버튼 및 a 태그 */
button,
a {
  transition: all 0.4s ease-in;
  color: inherit;
  cursor: pointer;
}
button {
  border: none;
  background-color: transparent;
}
/* a 태그 */
a {
  text-decoration: none;
}
/* color */
.redColor {
  color: rgb(255, 77, 77);
}
.blueColor {
  color: rgb(13, 121, 243);
}
.puppleColor {
  color: rgb(187, 104, 226);
}
.greenColor {
  color: rgb(91, 226, 192);
}
.grayColor {
  color: rgb(75, 75, 75);
}
.lightgrayColor {
  color: rgb(194, 194, 194);
}
.yellowColor {
  color: rgb(250, 220, 122);
}
/* Box */
/* border */
.borderBox {
  padding: 15px;
  border-radius: 0.5em;
  overflow: hidden;
  transition: all 0.4s ease-in;
}
.notPaddingBox {
  border-radius: 0.5em;
  overflow: hidden;
  transition: all 0.4s ease-in;
}
/* glowBox */
.glowBox,
.darkGlowBox {
  transition: all 0.4s ease-in;
  position: relative;
  align-items: center;
  padding: 15px;
  border-radius: 0.5em;
  overflow: hidden;
}
.glowBox::before,
.darkGlowBox::before {
  transition: all 0.4s ease-in;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(211, 211, 211, 0.25);
  z-index: -1;
}
.darkGlowBox::before {
  background: rgba(53, 53, 53, 0.459);
  border: 1px solid rgba(109, 109, 109, 0.404);
}
/* header */
header,
footer,
.photoSection .appBody,
.instaBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headerTop {
  gap: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  color: rgba(255, 255, 255, 0.747);
}
.headerText {
  gap: 5px;
}
.headerIcon {
  margin-left: auto;
  display: flex;
  gap: 10px;
}
.headerText,
.musicBody,
.musicText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerMusic {
  display: grid;
  align-items: center;
  color: rgb(255, 255, 255);
}
.headerMusic .glowBox,
.musicHeader {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}
.musicHeader {
  grid-template-rows: none;
  grid-template-columns: 0.5fr 2fr;
}
.musicImg {
  background: url("images/music2.jpg") no-repeat center/cover;
  width: 150px;
  height: 150px;
}
.musicText {
  align-items: flex-start;
  justify-content: center;
}
.musicBody {
  gap: 10px;
}
.musicBtn {
  display: flex;
  justify-content: space-around;
}
.musicBar,
.musicVolume {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.musicVolume {
  width: 90%;
}
.musicBtn button:hover {
  color: rgba(255, 255, 255, 0.575);
}
.headerMusic input[type="range"] {
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.404);
  border-radius: 0.5em;
  outline: none;
  position: relative;
  cursor: pointer;
}
.headerMusic input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}
.headerMusic input::-moz-range-thumb {
  width: 0;
  height: 0;
}
/* main */
.mainSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.appBox {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 5px;
}
.appFooter {
  text-align: center;
  color: white;
}
/* mainHeader */
.mainHeader,
.mainFooter {
  flex: 1;
  text-align: center;
}
.mainHeader,
.mainFooter,
.mainFooter .glowBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainPageToggle {
  padding: 5px;
  width: 100px;
  height: 20px;
  border-radius: 1.5em;
  display: flex;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}
.pageBtn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.432);
  transition: all 0.4s ease;
}
.pageBtn.movePage {
  background-color: rgba(34, 34, 34, 0.979);
  transform: translateX(75px);
}
.mainFooter .glowBox {
  border-radius: 1.5em;
  padding: 5px;
  gap: 10px;
}
.mainFooter a {
  display: inline-block;
  text-decoration: none;
}
.mainFooter a:hover {
  transform: scale(1.2);
}
.myPageApp {
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: 0.5em;
}
.Git {
  background-color: black;
  color: white;
}
.BackJone {
  background-color: white;
  color: rgb(11, 107, 216);
}
.Tistory {
  background-color: rgb(250, 82, 60);
  color: white;
}
.mainBody {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 0.25fr 1.25fr;
  grid-template-columns: 0.8fr 0.2fr 1fr 1fr;
  padding: 1em;
  row-gap: 10px;
  column-gap: 20px;
  justify-content: center;
}
/* main - photo */
.photoSection {
  grid-row: 1/2;
  grid-column: 1/2;
}
.photoSection .appBody {
  background: url("images/profileImg2.jpg") no-repeat center/cover;
}
.photoHeader {
  color: white;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 0px 5px;
}
.photoHeader div {
  gap: 5px;
  display: flex;
  align-items: center;
}
.photoHeader .glowBox {
  display: grid;
  align-items: center;
  padding: 4px 6px;
  border-radius: 1.5em;
}
.photoFooter {
  z-index: 2;
  border-radius: 0;
  padding: 3px 3px 5px 3px;
  display: flex;
  justify-content: space-around;
}
.photoIcon {
  color: rgb(59, 59, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* main - time */
.timeSection {
  grid-row: 1/2;
  grid-column: 2/4;
}
.timeSection .appBody {
  background: url("images/time2.jpg") no-repeat center/cover;
}
#timeBox,
#dateBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: rgba(255, 255, 255, 0.651);
  gap: 5px;
}
#dateBox {
  align-items: center;
}
/* main - profile */
.profileSection {
  grid-row: 2/4;
  grid-column: 1/3;
}
.profileSection .borderBox,
.profileHeader,
.profileSection .glowBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 10px;
  color: rgba(255, 255, 255, 0.747);
}
.profileSection .borderBox {
  width: 100%;
  height: 100%;
  background: url("images/profile2.jpg") no-repeat center/cover;
}
.profileSection .glowBox {
  z-index: 2;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  color: white;
}
.profileTitle {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5px;
}
.profileTitle i {
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 0.5em;
  background-color: white;
}
/* main - history */
.historySection {
  grid-row: 2/4;
  grid-column: 3/4;
  height: 100%;
  width: 100%;
}
.historySection .appBody,
.historyHeaderIcon,
.historyMain,
.historyDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.historySection .appBody {
  background-color: white;
  padding-bottom: 0;
}
.historyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.historyHeaderIcon {
  flex-direction: row;
}
.historyImg {
  background: url("images/memo2.jpg") no-repeat center/cover;
}
.historyYear::before {
  content: "○";
  padding-right: 3px;
  color: rgb(90, 90, 90);
  vertical-align: middle;
}
.historyDetail {
  padding-left: 10px;
  gap: 2px;
}
/* main - insta */
.instaSection {
  grid-row: 1/3;
  grid-column: 4/5;
}
.instaSection .appBody,
.instaBody {
  background: url("images/instagram2.jpg") no-repeat center/cover;
}
.instaBody {
  width: 100%;
  height: 100%;
  box-shadow: 2px 3px 5px rgba(75, 75, 75, 0.185);
}
.instaHeader,
.instaFooter {
  background-color: rgba(255, 255, 255, 0.671);
  padding: 5px;
  text-align: center;
}
.instaHeader {
  display: flex;
  flex-direction: column;
}
.instaFooter {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.instaFooter a {
  padding: 6px 0px;
}
.instaFooter a:hover {
  color: rgb(11, 107, 216);
}
.instaFooter a:nth-of-type(1) {
  border-right: 1px solid rgb(121, 121, 121);
}
/* main - Skill */
.skillSection {
  grid-row: 3/4;
  grid-column: 4/5;
  background: url("images/skill.jpg") no-repeat center/cover;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px;
}
.skillHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: rgba(255, 255, 255, 0.747);
}
.skillHeader span:nth-of-type(1) {
  height: 3px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 0.5em;
}
.skillBody,
.skillBox {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  gap: 5px;
  color: rgba(39, 39, 39, 0.767);
}
.skillBody {
  height: 100%;
}
.skillBox {
  padding: 10px;
  align-items: center;
}
.skillName {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.skillName span {
  border-radius: 1em;
  padding: 5px;
}
.skillBox:nth-of-type(odd) .skillTitle {
  margin-right: auto;
}
.skillBox:nth-of-type(even) .skillTitle {
  margin-left: auto;
}
/* footer */
.footerBody,
.footerProfile,
.footerIconSet,
.footerIcon {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 10px;
}
.footerImg {
  background: url("images/profileImg2.jpg") no-repeat center/cover;
  border-radius: 50%;
}
.footerIconSet {
  flex-direction: row;
}
.footerIcon .glowBox {
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
}
footer input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.toggleSwitch {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  border-radius: 3em;
}
.toggleBtn {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  transition: all 0.4s ease-in;
}
.toggleText {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}
/* check */
footer input:checked + .toggleSwitch {
  background: rgba(53, 53, 53, 0.459);
}
