@import "https://fonts.googleapis.com/css?family=Baloo+Paaji";
@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HakgyoansimWoojuR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용) */
@media (max-width: 575px) {
  section .Boxheader,
  .myAudio span,
  .SkillButtons button {
    font-size: 10px;
  }
  .FontLarge {
    font-size: 15px;
  }
  .BoxSection {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 1fr 1.5fr;
  }
  /* none */
  .ProfileSNS {
    display: none;
  }
  /* main-Profile, Title */
  .SectionTitle {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .TitleMain {
    font-size: 40px;
  }
  /* main-Profile, photo / main-AboutMe, Skill */
  .ProfilePhoto,
  .AboutSkill {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .ProfilePhoto .Boxheader span:nth-child(2) {
    font-size: 9px;
  }
  .SkillButtons span {
    font-size: 7px;
  }
  /* main-Profile, music / main-AboutMe, Skill2 */
  .ProfileMusic,
  .AboutSkill2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #audioPlay {
    font-size: 20px;
  }
  /* main-Profile, Information / main-AboutMe, Histor */
  .ProfileInformation,
  .AboutMeHistory {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

/* 가로모드 모바일 디바이스 (가로 해상도가 576px보다 크고 768px 보다 작은 화면에 적용)  */
@media (min-width: 576px) and (max-width: 767px) {
  section .Boxheader,
  .myAudio span,
  .InformationSection {
    font-size: 8px;
  }
  .FontLarge {
    font-size: 13px;
  }
  .BoxSection {
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1.3fr;
  }
  /* none */
  .ProfileSNS {
    display: none;
  }
  /* main-Profile, Title */
  .SectionTitle {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .TitleMain {
    font-size: 30px;
  }
  /* main-Profile, photo */
  .ProfilePhoto {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .ProfilePhoto .Boxheader span:nth-child(2),
  .InformationFooter {
    font-size: 6px;
  }
  /* main-Profile, Music / main-AboutMe, History */
  .ProfileMusic,
  .AboutMeHistory {
    grid-column: 4/5;
    grid-row: 1/3;
  }
  #audioPlay {
    font-size: 20px;
  }
  /* main-Profile, Information */
  .ProfileInformation {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  /* main-AboutMe */
  #AboutSection .SectionTitle {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  /* main-AboutMe, Skill */
  .AboutSkill {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .SkillBtn {
    font-size: 4px;
  }
  /* main-AboutMe, Skill2 */
  .AboutSkill2 {
    grid-row: 2/3;
    grid-column: 2/4;
  }
}

/*태블릿 디바이스 (가로 해상도가 768px보다 크고 991px 보다 작은 화면에 적용)  */
@media (min-width: 768px) and (max-width: 991px) {
  section .Boxheader,
  .myAudio span {
    font-size: 11px;
  }
  .FontLarge {
    font-size: 20px;
  }
  .BoxSection {
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr;
  }
  /* main-Profile, Title */
  .SectionTitle {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .TitleMain {
    font-size: 80px;
  }
  /* main-Profile, photo */
  .ProfilePhoto {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .ProfilePhoto .Boxheader span:nth-child(1) {
    font-size: 15px;
  }
  /* main-Profile, Music */
  .ProfileMusic {
    grid-column: 1/2;
    grid-row: 3/6;
  }
  #audioPlay {
    font-size: 25px;
  }
  /* main-Profile, Information */
  .ProfileInformation {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  /* main-Profile, SNS */
  .ProfileSNS {
    grid-column: 2/3;
    grid-row: 4/6;
  }
  .SnsText,
  .SnsDetail {
    font-size: 15px;
  }
  .Snsfooter {
    font-size: 30px;
  }
  /* main-AboutMe */
  /* main-AboutMe, History */
  .AboutMeHistory {
    grid-row: 4/7;
    grid-column: 1/3;
  }
  /* main-AboutMe, Skill */
  .AboutSkill {
    grid-row: 2/4;
    grid-column: 2/3;
  }
  /* main-AboutMe, Skill2 */
  .AboutSkill2 {
    grid-row: 2/4;
    grid-column: 1/2;
  }
}

/* 데스크탑 (가로 해상도가 992px보다 크고 1199px 보다 작은 화면에 적용)  */
@media (min-width: 992px) and (max-width: 1199px) {
  section .Boxheader,
  .myAudio span,
  .SnsText,
  .SnsDetail {
    font-size: 12px;
  }
  .FontLarge {
    font-size: 17px;
  }
  .BoxSection {
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1.5fr;
  }
  /* main-Profile, Title */
  .SectionTitle {
    grid-column: 2/6;
    grid-row: 1/2;
  }
  .TitleMain {
    font-size: 80px;
  }
  /* main-Profile, Photo */
  .ProfilePhoto {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .ProfilePhoto .Boxheader span:nth-child(1),
  .InformationFooter {
    font-size: 15px;
  }
  /* main-Profile, music */
  .ProfileMusic {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #audioPlay {
    font-size: 25px;
  }
  /* main-Profile, Information */
  .ProfileInformation {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  /* main-Profile, SNS */
  .ProfileSNS {
    grid-column: 4/6;
    grid-row: 2/3;
  }
  .Snsfooter {
    font-size: 20px;
  }
  /* main-AboutMe */
  #AboutSection .SectionTitle {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  /* main-AboutMe, History */
  .AboutMeHistory {
    grid-column: 4/6;
    grid-row: 1/3;
  }
  /* main-AboutMe, Skill */
  .AboutSkill {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .SkillBtn {
    font-size: 10px;
  }
  /* main-AboutMe, Skill2 */
  .AboutSkill2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

/* 큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용)  */
@media (min-width: 1200px) {
  section .Boxheader,
  .myAudio span {
    font-size: 12px;
  }
  .FontLarge {
    font-size: 27px;
  }
  .BoxSection {
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1.5fr;
  }
  /* main-Profile, Title */
  .SectionTitle {
    grid-column: 2/6;
    grid-row: 1/2;
  }
  .TitleMain {
    font-size: 90px;
  }
  /* main-Porfile, Photo */
  .ProfilePhoto {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .ProfilePhoto .Boxheader span:nth-child(1),
  .InformationFooter {
    font-size: 19px;
  }
  /* main-Profile, music */
  .ProfileMusic {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #audioPlay {
    font-size: 30px;
  }
  /* main-Profile, Information */
  .ProfileInformation {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .InformationSection,
  .SnsText,
  .SnsDetail,
  .SnsBtn button {
    font-size: 20px;
  }
  /* main-Profile, SNS */
  .ProfileSNS {
    grid-column: 4/6;
    grid-row: 2/3;
  }
  .Snsfooter {
    font-size: 40px;
  }
  /* main-AboutMe */
  #AboutSection .SectionTitle {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  /* main-AboutMe, History */
  .AboutMeHistory {
    grid-column: 4/6;
    grid-row: 1/3;
  }
  /* main-AboutMe, Skill */
  .AboutSkill {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  /* main-AboutMe, Skill2 */
  .AboutSkill2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
* {
  /* 드래그나 더블클릭 시 텍스트 선택 x */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, #dae2f8, #d6a4a4);
}
header,
footer,
section {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
header {
  flex-direction: column;
  text-align: center;
}
section {
  align-items: center;
  padding: 2em;
}
/* 스크롤바 안보이게 */
::-webkit-scrollbar {
  display: none;
}
/* 부드러운 스크롤 */
.fade-wrap {
  transition: 2s;
  opacity: 0;
  position: relative;
  left: -30%;
}
.fade-wrap.fade-in {
  opacity: 1;
  left: 0;
}
/* font */
.BalooPaaji {
  font-family: "Baloo Paaji";
}
.MovSansBold {
  font-family: "MoveSans-Bold";
}
.Lotteria {
  font-family: "LOTTERIACHAB";
}
.Hakgyo {
  font-family: "HakgyoansimWoojuR";
}
/* left, right */
.TextLeft {
  margin-right: auto;
}
.TextRight {
  margin-left: auto;
}
/* header */
.headerWave {
  background: url("images/headerWave.svg");
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  position: absolute;
}
.headerSection {
  position: relative;
  color: white;
  white-space: nowrap;
}
.title {
  font-size: 15vw;
}
.title span {
  display: inline-block;
  position: relative;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transition: 0.8s;
}
.title span:nth-child(odd) {
  transform: rotateX(10deg) rotateY(10deg) rotateZ(370deg);
}
.title span:nth-child(even) {
  transform: rotateX(10deg) rotateY(10deg) rotateZ(-370deg);
}
.title:hover span:nth-child(odd) {
  transform: rotateX(10deg) rotateY(10deg) rotateZ(-370deg);
}
.title:hover span:nth-child(even) {
  transform: rotateX(10deg) rotateY(10deg) rotateZ(370deg);
}
/* header - 별빛 효과 */
.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 3s infinite;
}
/* header background */
@keyframes twinkle {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
/* gap */
.gap {
  gap: 0.5em;
}
/* main-Box */
.Box,
.Boxheader,
.BoxMain {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0.5em;
  border: none;
  z-index: 2;
}
.Box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 0.5em;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.74);
  position: relative;
}
.BoxMain {
  align-content: center;
}
.Boxheader {
  justify-items: center;
  align-items: center;
  display: flex;
}
/* main-BoxHeader btn */
.MainBoxHeader {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  padding: 0.5em 0.5em 0em 0.5em;
}
.MainheaderBtn {
  color: rgb(122, 122, 122);
}
.MainBoxHeader .TextRight {
  grid-column: 3/4;
}
.MainheaderBtn {
  cursor: pointer;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  transition: all 0.3s ease-in;
}
.MainheaderBtn:hover:not(:disabled),
.MainheaderBtn:disabled {
  color: #9b86b1;
  border-bottom: 2px solid #9b86b1;
}
.MainheaderBtn:disabled {
  cursor: default;
}
/* main-Section */
.BoxSection {
  display: grid;
  gap: 0.5em;
}
/* main-Profile, Title */
.SectionTitle .Box {
  background: url("images/Cloudy.svg") bottom/cover no-repeat;
}
.SectionTitle .BoxMain {
  align-self: center;
}
.TitleMain {
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px black;
  font-style: italic;
}
/* main-Profile, Photo */
.ProfilePhoto .Boxheader {
  padding: 0.2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
}
.ProfilePhoto .Boxheader span:nth-child(1) {
  margin-bottom: -0.5em;
}
.ProfilePhoto .BoxMain {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 0;
}
.ProfileImg {
  background: url("images/KakaoTalk_20230610_133225528.jpg") center/cover
    no-repeat;
}
.ProfileText {
  color: #a8b4e1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}
.ProfileText span:nth-child(1) {
  border-right: 1px solid #a8b4e1;
}
/* main-Profile, Information */
.ProfileInformation .Box {
  background-color: #bea7bd;
  color: white;
}
.ProfileInformation .BoxMain {
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  background-color: white;
  text-wrap: nowrap;
  display: grid;
  grid-template-rows: 1fr auto;
}
.InformationBtn {
  color: #af91ad;
  cursor: pointer;
  padding: 0.5em;
  transition: all 0.3s;
}
.InformationBtn.Click,
.InformationBtn:hover:not(.Click) {
  color: white;
}
.InformationSection {
  flex-direction: column;
  align-self: center;
}
.InformationTitle,
.InformationDetail,
.InformationFooter {
  padding: 0.5em;
  border-radius: 1.5em;
  color: white;
}
.InformationTitle {
  background-color: #beb7d5;
}
.InformationDetail {
  background-color: #ffb1b2;
}
.InformationCircle span {
  display: inline-block;
  position: relative;
  animation: Bounce 0.8s alternate linear infinite;
}
.InformationCircle span:nth-child(2) {
  animation-delay: 0.2s;
}
.InformationCircle span:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes Bounce {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}
.InformationFooter {
  display: flex;
  align-items: center;
  color: rgb(105, 105, 105);
  border: 1px solid #eeeeee;
}
.InformationFooter div {
  display: flex;
  align-items: center;
}
/* main-Profile, SNS */
.ProfileSNS .Boxheader {
  color: #9b86b1;
  justify-content: left;
  align-items: center;
}
.ProfileSNS .BoxMain {
  display: grid;
  grid-template-rows: 1fr auto;
  color: #d8c5ec;
}
.ProfileSNS a {
  text-decoration: none;
  position: relative;
  color: inherit;
  transition: 0.5s;
}
.SnsHeader {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.SnsImg {
  grid-column: 1/2;
  overflow: hidden;
}
.SnsImg img {
  border: 8px solid #d8c5ec;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.SnsHeaderDetail {
  grid-column: 2/3;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.SnsNumber {
  grid-row: 1/2;
  align-self: flex-end;
}
.SnsText {
  color: #9b86b1;
  grid-row: 2/3;
  align-self: flex-start;
}
.SnsBtn {
  grid-row: 2/3;
  display: grid;
  grid-template-rows: auto auto 1fr 0.5fr;
  grid-template-columns: 1fr 1fr 0.5fr;
}
.SnsID {
  color: #9b86b1;
  grid-row: 1/2;
  grid-column: 1/4;
}
.SnsDetail {
  grid-row: 2/3;
  grid-column: 1.4;
  margin-left: 0.5em;
  margin-top: -0.5em;
}
.SnsBtn button {
  cursor: pointer;
  padding: 0.3em;
  font-family: "LOTTERIACHAB";
  color: white;
  background-color: #9b86b1;
  border-radius: 1.5em;
  border: none;
  grid-row: 3/4;
}
.SnsBtn button:nth-of-type(1) {
  grid-column: 1/2;
}
.SnsBtn button:nth-of-type(2) {
  grid-column: 2/3;
  color: #9b86b1;
  background-color: white;
  border: 2px solid #9b86b1;
}
.SnsIconBtn {
  grid-column: 3/4;
}
.Snsfooter {
  grid-row: 4/5;
  grid-column: 1/4;
  display: flex;
  justify-content: space-around;
}
/* main-Profile, music */
.ProfileMusic .Box {
  background: url("images/stacked-waves-haikei.svg") center/cover no-repeat;
}
.ProfileMusic .BoxMain {
  padding: 0.2em;
  align-items: center;
  justify-items: center;
}
.MusicSection {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
#audioImg {
  grid-row: 1/2;
  background: url("images/CD.png") center/contain no-repeat;
}
.myAudio {
  display: flex;
  flex-direction: column;
}
.musicVolume {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: repeat(3, 1fr);
}
#audioBar {
  grid-row: 1/2;
  grid-column: 1/4;
  -webkit-appearance: none;
  height: 5px;
  border-radius: 0.5em;
  background: linear-gradient(to right, #dae2f8, #9cabcf);
  outline: none;
}
#currentTime {
  grid-row: 2/3;
  grid-column: 1/2;
  text-align: left;
}
#durationTime {
  grid-row: 2/3;
  grid-column: 3/4;
  text-align: right;
}
.musicBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
#audioVolumn,
#audioPlay,
#audioHeart,
.MusicHeaderBtn,
.AboutSkill .Boxheader button {
  color: #9cabcf;
  background-color: transparent;
  border-radius: 50%;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#audioVolumn,
#audioPlay,
#audioHeart {
  box-shadow: -2px -2px 3px #dae2f8, 2px 2px 3px #bccaec;
  border: 1px solid #dae2f8;
}
#audioPlay {
  background-color: #9cabcf;
  border: 1px solid #9e9ec4;
  color: white;
}
.MusicHeaderBtn {
  padding: 0.2em;
  box-shadow: -2px -2px 3px #ffffff, 2px 2px 3px #c9d3ec;
  border: 1px solid #ffffff;
}
/* input:range 커스텀 */
/* 슬라이더 핸들(클릭해서 드래그하는 부분) 커스텀  */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #9cabcf;
  border: 5px solid white;
  box-shadow: -2px -2px 3px white, 2px 2px 3px rgb(214, 214, 214);
  cursor: pointer;
  /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}
input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #9cabcf;
  border: 5px solid white;
  box-shadow: -2px -2px 3px white, 2px 2px 3px rgb(214, 214, 214);
  cursor: pointer;
  /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}
/* main-AboutMe, title */
#AboutSection .SectionTitle .Box {
  background: url("images/Cloudy2.svg") bottom/cover no-repeat;
}
/* main-AboutMe, History */
.HistorySection,
.HistorySection2 {
  display: flex;
  flex-direction: column;
}
.HistoryText {
  margin-left: 0.5em;
}
/* main-AboutMe, Skill1 */
.AboutSkill .Box {
  background: url("images/Circlebackground.jpg") center/cover no-repeat;
  padding: 0.5em;
  grid-template-rows: auto 1fr auto;
}
.Blur {
  grid-row: 1/3;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
}
.Blur::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.499);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.SkillTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#currentSkill {
  font-weight: bold;
}
.SkillButtons {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: white;
  border-radius: 1.5em;
  padding: 0.5em;
}
.SkillButtons div {
  display: flex;
  justify-content: space-around;
}
.SkillBtnSpan.SelectSkill {
  color: #97aada;
}
.AboutSkill .Boxheader button {
  color: white;
  background-color: #c5d3f5;
}
.AboutSkill .Boxheader button {
  border: none;
}
.AboutSkillSection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#Skillchart,
svg {
  width: 100%;
  height: 100%;
}
svg {
  display: block;
}
/* main-AboutMe, Skill2 */
.AboutSkill2 .BoxMain {
  padding: 0.5em 0em;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.2em;
}
.SkillMenu {
  grid-column: 2/3;
}
.SkillLink {
  grid-column: 1/2;
  display: grid;
  gap: 0.3em;
  grid-template-rows: repeat(3, 1fr);
}
.AboutSkill2 a {
  padding: 0.3em;
  margin-right: 0.3em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: rgba(255, 255, 255, 0.486);
  color: rgb(189, 158, 255);
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr auto;
}
